@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
ul li { list-style:none;}
body { font:14px/1.5 "微软雅黑"; color:#FFF;}
a { color:#CCC; text-decoration:none;}
a:hover { text-decoration: underline;}
.lay { margin:0 auto; width:960px; overflow:hidden;}
/*header*/
.header { height:100px; }
	.logo { float:left; width:250px; height:100px;}
	.h_r { float:right; width:530px; height:26px; margin-top:40px; float:right;}
		.h_r form { width:250px; height:26px; background: #f1f1f1; float:right; border:#999 1px solid; float:right;}
		.inpt { width:196px; height:26px; border:none; background:none; float:left;}
		.inpb { width:30px; height:26px; border:none; background: url(images/bg_inp_b.jpg) no-repeat ; float:left;}

		.h_r form p { height:28px; line-height:28px; overflow:hidden; text-align:right;}
		.h_r p a { margin:0 10px;}
       
/*nav*/
.nav { height:60px; background:#000; }
	.nav ul {height:60px;}
		.nav ul li { width:119px; float:left; border-right:#CCC 1px solid;}
			.nav ul li a { display:block; width:119px; height:60px;line-height:60px;text-align:center; text-decoration:none; color:#fff;}
				.nav ul li a:hover { background:#F00;}
			.nav ul li.last { border-right: none;}
/*banner*/
.banner { height:463px; background:url(images/images/wolong_09.jpg) no-repeat;}

/*news*/
.news { height:250px;}
	.news_tit { color:#000;height:27px; font-size:18px; font-weight:normal; line-height:27px; margin-top:33px; margin-bottom:15px;}
		.news_tit a {float:right; margin-left:10px;}
	.news_l {width:455px; height:240px; float:left;}
		.news_l li { overflow:hidden; background:url(images/dot.jpg) no-repeat left center;padding-left:10px; margin-bottom:10px;}
			.news_l li a { float:left; color:#666; text-decoration:none; width:300px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; }
			.news_l li span { float:right; color:#999;}

	.news_l {  float:left; width:455px; height:250px; }
	.news_c,.news_r { width:200px;height:250px; padding:0 20px; float:right;}
	.news_c { background:#f1f1f1;color:#000;}
			.news_c p {font-size:16px; margin:20px 0;}
		.news_c span {color:#999;}

	.news_r { background:url(images/bbg.jpg) no-repeat right bottom;color:#000;}
		.news_r p {margin-top:20px; margin-bottom:50px;}
		
		
/*imgnewa*/
.imgnews {height:305px; width:1000px;}
	.imgnews.news_tit { padding:0 5px;}
	.imgnews dl {width:210px; float:left; margin-right:40px;}
		.imgnews dl dd {font-size:14px; padding:10px; color:#000;}
	.imgnews dl.last {margin-right:0;}


/*list*/
.list { height:230px; padding-top:20px;background:#e5e5e4; color:#000;}
	.list_l {width:450px;margin-right:50px; float:left; overflow:hidden;}
		.list_l ul { float:left; width:150px;}
	.list_c { width:150px; float:left;}
	.list_r { width:260px; float:right;}
		.list ul li {background: url(images/images/wolong_38.jpg) no-repeat 5px center; padding-left:17px; margin-bottom:10px; }
		.list ul li a {display:block;color:#000}

/*footer*/
.footer {height:60px; padding-top:23px; width:970px; font-size:12px;}
	.footer_l {width:270px; float:left}
		.footer_l a { margin:0 5px;}
	.footer_r { width:620px; float:right; text-align:right;}
		.footer_r img { float:right;}

